* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

th {
    background-color: greenyellow;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

